<div class="container-fluid fondo image">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="text-center contenido d-flex justify-content-center flex-column">
                <div class="paneltracero"></div>
                <div class="hijo">
                    <h1 class="color">Bienvenido a Sestudiantil</h1>
                    <h3 class="color">la herramienta de seguimiento estudiantil de la universidad mayor</h3>
                    <button class="btn btn-danger btn-block botonmaxw" (click)="signInWithGoogle()">
                        <i class="fa fa-google "></i> Iniciar con Google
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>