<nav class="navbar navbar navbar-light fondo ">
    <button class="navbar-toggler" type="button" (click)="click()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar">
        <ul class="navbar-nav navbar-brand">
            <div class="form-inline my-2 my-lg-0">
                <ul class="nav">
                    <li class="cabeza"><button class="btn btn-outline-successs" type="submit"><img src="{{ user.photoUrl }}"class="image rounded-circle dimensiones"/></button>
                        <ul class="a">
                            <li>
                                <div class="contenido" ng-controller="CtrlLogin">
                                    <h4>{{ user.name }}</h4>
                                    <p>{{ user.email }}</p>
                                    <hr />
                                    <button class="btn btn-danger btn-block" (click)="signOut()">
                                        <i class="fa fa-google"></i>
                                        Cerrar Sesión
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </ul>
    </div>
</nav>


<div>

</div>